In [15]:
"""
Describes how to use lists in python



Corey Schafer video
https://www.youtube.com/watch?v=W8KRzm-HUcc&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=4
"""

'\nDescribes how to use lists, tuples and sets in python\n\n\n\nCorey Schafer video\nhttps://www.youtube.com/watch?v=W8KRzm-HUcc&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=4\n'

In [56]:
# Create an empty list
empty_list = []
# or 
empty_list = list()

In [16]:
# Create a list using square brackets
courses = ['History', 'Maths', 'Physics', 'CompSci']
print(courses)

['History', 'Maths', 'Physics', 'CompSci']

In [17]:
# See list length
courses = ['History', 'Maths', 'Physics', 'CompSci']
print(len(courses))

4

In [18]:
# Access values at given index
courses = ['History', 'Maths', 'Physics', 'CompSci']
print(courses[0]) # first
print(courses[2]) # 3rd
print(courses[-1]) # last

History
Physics
CompSci

In [19]:
# Access ranges of values at indices
courses = ['History', 'Maths', 'Physics', 'CompSci']
print(courses[0:2]) # first index up to but not including 3rd
print(courses[:2]) # first index up to but not including 3rd
print(courses[2:]) # 3rd index to end

['History', 'Maths']
['History', 'Maths']
['Physics', 'CompSci']

In [24]:
# Add an item to the end of a list using append methods
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.append('Art')
print(courses)

# Insert an item in a list using insert
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.insert(0, 'Art') # Put art in 1st index
print(courses)

['History', 'Maths', 'Physics', 'CompSci', 'Art']
['Art', 'History', 'Maths', 'Physics', 'CompSci']

In [25]:
# Insert a list into another list using extend instead of insert or append methods
courses_1 = ['History', 'Maths', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']
courses_1.append(courses_2) # gives list within list
print(courses_1)

courses_1 = ['History', 'Maths', 'Physics', 'CompSci']
courses_2 = ['Art', 'Education']
courses_1.extend(courses_2) # combines lists
print(courses_1)

['History', 'Maths', 'Physics', 'CompSci', ['Art', 'Education']]
['History', 'Maths', 'Physics', 'CompSci', 'Art', 'Education']

In [29]:
# Removing values from list using remove and pop methods
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.remove('Maths')
print(courses)

courses = ['History', 'Maths', 'Physics', 'CompSci']
popped = courses.pop() # can keep removed value
print(courses)
print(popped)

['History', 'Physics', 'CompSci']
['History', 'Maths', 'Physics']
CompSci

In [33]:
# Sorting lists in place

# Reverse list using reverse method
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.reverse()
print(courses)

# Sort list alphabetically using sort method
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.sort()
print(courses)

# Sort list in ascending or descending order using sort method
nums = [1, 5, 4, 3]
nums.sort()
print(nums)
nums = [1, 5, 4, 3]

# Sort listts in reverse alphabetical or descending order
courses = ['History', 'Maths', 'Physics', 'CompSci']
courses.sort(reverse=True)
print(courses)
nums = [1, 5, 4, 3]
nums.sort(reverse=True)
print(nums)

['CompSci', 'Physics', 'Maths', 'History']
['CompSci', 'History', 'Maths', 'Physics']
[1, 3, 4, 5]
['Physics', 'Maths', 'History', 'CompSci']
[5, 4, 3, 1]

In [35]:
# Sorting lists without altering original list using sorted function
courses = ['History', 'Maths', 'Physics', 'CompSci']
sorted(courses)
print(courses) # see no change from original

sorted_courses = sorted(courses)
print(sorted_courses) # new variable is sorted

['History', 'Maths', 'Physics', 'CompSci']
['CompSci', 'History', 'Maths', 'Physics']

In [37]:
# Getting min, max and sum of lists
nums = [1, 5, 4, 3]
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
13

In [41]:
# Getting index of a value in a list using index method
courses = ['History', 'Maths', 'Physics', 'CompSci']
print(courses.index('CompSci'))
print(courses.index('Art'))

3

ValueError: 'Art' is not in list

In [43]:
# Find if a value is in a list using in
courses = ['History', 'Maths', 'Physics', 'CompSci']
print('Maths' in courses)
print('Art' in courses)

True
False

In [47]:
# Looping through a list with for loop
courses = ['History', 'Maths', 'Physics', 'CompSci']

for course in courses:
    print(course)
    
# Use enumerate to get index
for index, course in enumerate(courses):
    print(index, course)  
    
# Start loop at a given index
for index, course in enumerate(courses, start=2):
    print(index, course)

History
Maths
Physics
CompSci
0 History
1 Maths
2 Physics
3 CompSci
2 History
3 Maths
4 Physics
5 CompSci

In [53]:
# Joining values in a list using join method
courses = ['History', 'Maths', 'Physics', 'CompSci']
course_str = ', '.join(courses) # can set separator within ''
print(course_str)
course_str = ' - '.join(courses) # can set separator within ''
print(course_str)

History, Maths, Physics, CompSci
History - Maths - Physics - CompSci

In [54]:
# Splitting string into a list using split method
course_str = 'History - Maths - Physics - CompSci'
courses = course_str.split(' - ') # can set separator within ''
print(courses)

['History', 'Maths', 'Physics', 'CompSci']